{% extends 'parent.html.twig' %}

{% block titre1 %}
{% block titre2 %}
{% block titre3 %}

{% endblock %}
<h1>Galerie</h1>


<section> 
  <h3> Les pyrénées</h3>
  <img src="{{ asset('images/photo3.png') }}" alt="photo3">

</section>
<section> 
  <h3> Les pyrénées</h3>
  <img src="{{ asset('images/photo3.png') }}" alt="photo3">

</section>

<section> 
  <h3> Les pyrénées</h3>
  <img src="{{ asset('images/photo3.png') }}" alt="photo3">
  <p> Photo de  prise par  le </p>

</section>


<section> 
  <h3> Les pyrénées</h3>
  <img src="{{ asset('images/photo3.png') }}" alt="photo3">
  <p> Photo de  prise par  le </p>

</section>

{% endblock %}
{% endblock %}