{% extends 'parent.html.twig' %}

{% block titre1 %}
<h1>Réalisations</h1>

<h1>Des idées débordantes</h1>

{% endblock %}


{% block titre2 %}
            <h1>au coeur de votre cerveau </h1>
            {% endblock %}